/.vscode/
/libs/cereal/
/libs/cmake*/
/libs/doctest/
/libs/enet/
/libs/imgui/
/libs/imgui-sfml/
/libs/implot/
/build/libs/
/build/.cmake/
/build/CMakeFiles/
/build/cmake_install.cmake
/build/CMakeCache.txt
/build/compile_commands.json
/build/Makefile
/build/nada_sub
/build/nada_sub_test
/build/temp_karte.png
/cmake-build*/
